@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Prp.Sln.HomeModel
@section RenderCss{

    <style>
        .btnRegister {
            width: 18%;
            margin-top: 0px;
        }
    </style>

}
@section RenderScript{

    <script>
        $(document).ready(function () {

        });
    </script>
}
<div class="container">
    <div class="row">
        <div id="wrapper">
            @*<div class="col-md-12">
                    @Html.Partial("_GazetteMeritLinks")
                </div>*@
            <div class="col-md-12">
                <div class="landingWarp">
                    <h1>Eligibility Criteria</h1>
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Matric With Science (Physics, Chemistry & Biology as Compulsory Subjects)</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>F.Sc (Pre-Medical) With Minimum 50% Marks </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Domicile of Punjab </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Gender: Only Female </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Maximum Age Limit is upto 36 Years </li>

                    </ul>
                    <div class="col-sm-12 text-center">
                        @*<a href="/term-and-condition" target="_blank" class="btn btnRegister animated-button">POLICIY PG LEVEL-III </a>*@
                        @*<a href="/docs/PNAS User Manual -(Urdu).pdf" target="_blank" class="btn btnRegister animated-button">User Manual Urdu </a>
        <a href="/docs/PNAS User Manual -(English).pdf" target="_blank" class="btn btnRegister animated-button">User Manual English </a>*@
                        @*<a href="/term-and-condition" target="_blank" class="btn btnRegister animated-button">Seats </a>*@
                        @*<a href="/register" class="btn btnRegister animated-button">Register </a>
        <a href="/login" class="btn btnRegister animated-button">Login </a>*@

                        <a href="~/Images/rejectedCandidates.xlsx"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:red">Download List of Rejected Candidates </a>

                    </div>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div style="margin-top: 10px;">
                </div>
            </div>
        </div>
    </div>
    @*<h1 style="padding:10px; text-decoration:underline"> Video Guide </h1>
    <div class="container">
        <center>
            <video controls="controls" width="420">
                <source src="~/assets/public/images/bandicam%202022-06-05%2014-09-32-386.mp4" type="video/mp4" />
            </video>
        </center>
    </div>*@
</div>
