@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Prp.Sln.HomeModel
@section RenderCss{

    <style>
        .btnRegister {
            width: 18%;
            margin-top: 0px;
        }
    </style>

}
@section RenderScript{

    <script>
        $(document).ready(function () {

        });
    </script>
}
<div class="container">
    <div class="row">
        <div id="wrapper">
            @*<div class="col-md-12">
                    @Html.Partial("_GazetteMeritLinks")
                </div>*@
            <div class="col-md-12">
                <div class="landingWarp">
                    @*<center>
                            <img src="/Images/Alert.jpg" style="height: auto; width: 600px;">
                            <h3 style="text-decoration:underline">CONSENT Video Guide</h3>
                            <video width="500" height="350" controls>
                              <source src="/Images/VideoGuide.mp4" type="video/mp4">
                              Your browser does not support the video tag.
                            </video>
                        </center>*@

                    <h1>BSN Generic Admission Program 2025-2028 Session</h1>
                    <h2>Eligibility Criteria</h2>
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Matric With Science (Physics, Chemistry & Biology as Compulsory Subjects)</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>F.Sc (Pre-Medical) With Minimum 50% Marks </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Domicile of Punjab </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Gender: Male and Female </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Maximum Age Limit is upto 35 Years </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Documents should upload Original/ Attested Photocopies. </li>


                    </ul>
                    @*
                        <h1>BSN Generic Migration</h1>
                        <h2>Eligibility Criteria</h2>
                        <ul>
                            <li><i class="fa fa-check" aria-hidden="true"></i>Completion of the first-year annual examination is mandatory.</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>Students may transfer between public sector colleges or institutions in the second and third years.</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>Transfers are not permitted in the first or final year. </li>
                            <li><i class="fa fa-check" aria-hidden="true"></i>Students are only allowed to transfer once throughout their entire degree program. </li>
                        </ul>
                    *@
                    <div class="col-sm-12 text-center">
                        @*<a href="/term-and-condition" target="_blank" class="btn btnRegister animated-button">POLICIY PG LEVEL-III </a>*@
                        @*<a href="/docs/PNAS User Manual -(Urdu).pdf" target="_blank" class="btn btnRegister animated-button">User Manual Urdu </a>
                            <a href="/docs/PNAS User Manual -(English).pdf" target="_blank" class="btn btnRegister animated-button">User Manual English </a>*@
                        @*<a href="/term-and-condition" target="_blank" class="btn btnRegister animated-button">Seats </a>
                            <a href="/register" class="btn btnRegister animated-button">Register </a>
                            <a href="/login" class="btn btnRegister animated-button">Login </a>*@
                    </div>
                    @*<ul style="padding-top:50px;">
                            <li><i class="fa fa-check" aria-hidden="true"></i>Grievance for BSN afternoon will start from 10th august 2023 to 19th august 2023. The candidates whose applications have been rejected will only be entertained in their nearby colleges.</li>
                        </ul>*@
                    @*
                        <a href="~/Images/Final Migration Policy BSN.pdf"class="btn btnRegister animated-button btn-success" target="_blank" style="width:auto !important; background:green">Migration Policy BSN 2024 </a>

                        <a href="~/Images/Migration Ad.jpg"class="btn btnRegister animated-button btn-success" target="_blank" style="width:auto !important; background:green">Migration Advertisement 2024 </a>

                        <a href="~/Images/ad.jpg"class="btn btnRegister animated-button btn-success" target="_blank" style="width:auto !important; background:green">DGN Presser </a>
                    *@
                    @*<a href="/loginMigrant" class="btn btnRegister animated-button">Login For Consent </a>*@

                    <a href="/login" cla<a href="/login" class="btn btnRegister animated-button">Login </a>

					<a href="/register" class="btn btnRegister animated-button">Register </a>

					@*<a href="~/nett/verify-rejected" class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:red">Rejected Candidates </a>*@
					<br />
					<div style="height:30px"></div>
					@*<a href="~/nett/verify-approved" class="btn btnRegister animated-button btn-success" style="width:auto !important; ">Approved Candidates </a>*@
					@*<a href="~/nett/meritlist" class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:red">1st Merit List </a>*@
					@*<a href="~/nett/rejected-list"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:green">Rejected Candidates List</a>*@
					@*<a href="~/Images/BSN_Gazette.pdf"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:red">Download Gazette </a>*@
					@*<a href="~/Images/rejectedCandidates.pdf"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:red">Download List of Rejected Candidates </a>*@
					@*<a href="~/nett/gazette"class="btn btn-mail" style="width:auto !important;height:40px; padding:9px;font-weight:bolder">Provisional Gazette</a>*@
					@*<a href="~/nett/meritlist-male"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:green">Morning Merit List 2 (MALE)</a>
					<a href="~/nett/meritlist-female"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:green">Morning Merit List 2 (FEMALE)</a>
					<a href="~/nett/meritlist-female"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:green">Morning Merit List 3 (FEMALE)</a>*@
					@*<a href="~/nett/meritlist-male"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:green">3rd Morning Joining list (Male)</a>
					<a href="~/nett/meritlist-male-evening"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:green">3rd Afternoon Joining list (Male)</a>*@
					@*<a href="~/nett/meritlist-female-evening"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:green">Selectees for BSNG Evening (FEMALE)</a>*@
					@*<a href="~/nett/meritlist-female"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:green">3rd Morning Joining list (Female)</a>
					<a href="~/nett/meritlist-female-evening"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:green;">3rd Afternoon Joining list (Female)</a>*@
					@*<a href="~/Images/SelectedMorning.pdf"class="btn btnRegister animated-button btn-success" target="_blank" style="width:auto !important; background:green">Selectees for BSNG Morning 2024 </a>*@
					<div class="col-md-12" style="padding-left: 0px;padding-top: 20px;">
						@*<a href="~/nett/meritlist-10" class="btn btnRegister animated-button btn-success" target="_blank" style="width:auto !important; background:green"> 3rd Merit List Session  (2021-2022 Teaching) </a>
						<a href="~/nett/meritlist-11" class="btn btnRegister animated-button btn-success" target="_blank" style="width:auto !important; background:green"> 3rd Merit List Session  (2021-2022 Only DHQ) </a>
						<a href="~/nett/meritlist-13" class="btn btnRegister animated-button btn-success" target="_blank" style="width:auto !important; background:green"> 3rd Merit List Session  (2022-2023 Morning) </a>
						<a href="~/Images/BSN Migration_Final List.pdf"class="btn btnRegister animated-button btn-success btn-blue" target="_blank" style="width:auto !important; background:#3135e0">Selected for Migration </a>*@
					</div>



					@*<a href="~/Images/corrigendum.pdf"class="btn btnRegister animated-button btn-success" style="width:auto !important; background:green">Corrigendum </a>
					<a href="/docs/15/advertisement.pdf"class="btn btnRegister animated-button btn-success" target="_blank" style="width:auto !important; background:green">Advertisement </a>*@
					@*<a href="/docs/15/User-Manual-PNAS.pdf"class="btn btnRegister animated-button btn-success" target="_blank" style="width:auto !important; background:green">User Manual </a>*@
					@*<a href="~/Images/classesCommencing.pdf"class="btn btnRegister animated-button btn-success" style="width:150px !important; background:green">Notification </a>

					<a href="~/Images/1st_merit_male_afternoon.pdf"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:red">1st Merit List (MALE) </a>
					<a href="~/Images/1st_merit_female_afternoon.pdf"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:red">1st Merit List (FEMALE)</a>*@
					@*<a href="~/Images/Merit list 2 male after noon.pdf"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:red">2nd Merit List (MALE) </a>
					<a href="~/Images/Merit list 2 female after noon.pdf"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:red">2nd Merit List (FEMALE)</a>*@
					@*<a href="~/Images/BSN Generic_4th_ Meritlist_Male.pdf"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:red">4th Merit List (MALE) </a>
					<a href="~/Images/BSN Generic_4th_ Meritlist_Female.pdf"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:red">4th Merit List (FEMALE)</a>

					<a href="~/Images/BSN Generic_5th_ Meritlist_Male.pdf"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:red">5th Merit List (MALE) </a>
					<a href="~/Images/BSN Generic_5th_ Meritlist_Female.pdf"class="btn btnRegister animated-button btn-danger" style="width:auto !important; background:red">5th Merit List (FEMALE)</a>*@

                </div>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div style="margin-top: 10px;">
                </div>
            </div>
        </div>
    </div>
    @*<h1 style="padding:10px; text-decoration:underline"> Video Guide for Applying for Grievances </h1>
        <div class="container">
            <center>
                <video controls="controls" width="100%">
                    <source src="~/images/removalRejection.mp4" type="video/mp4" />
                </video>
            </center>
        </div>*@
</div>
