<div class="col-sm-12">
    <hr>
    <p dir="rtl"><b>نوٹ:</b> اگر جمع کرائی گئی معلومات کے غلط ، مشابہ یا من گھڑت ہونے کا تعین کیا جاتا ہے، تو درخواست مسترد کر دی جائے گی، اور کوئی بھی پروگرام جو پہلے سے شروع ہو چکا ہے ختم کر دیا جائے گا۔ سرکاری سطح پر اپیل کا کوئی حق نہیں ہوگا۔  اگر جمع کرائی گئی تصاویر میں سے کوئی پڑھنے کے قابل نہیں ہے تو درخواست فارم کو مسترد کر دیا جائے گا۔ </p><hr>
</div>
