@{
    ViewBag.Title = " Applicant Conent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Prp.Sln.ConsentModel
@section RenderCss{

}
@section RenderScript{

    <script>

        function SetValueAndValidateForm(event) {

            var isOk = true;

            if (isOk == false)
                event.preventDefault();
        }

    </script>

}
<div class="container content">
    <div class="row main">
        <div class="col-sm-12 form-box">
            <div class="main-login main-center">
                <h3 class="heading">Application Merit - (Round - 01)</h3>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <h3> Dear @Model.applicant.name, Form No : @Model.applicant.applicantId <br /></h3>
                    </div>
                </div>
                <hr class="colorgraph">
                @if (Model.validStatus == 1)
                {
                    @Html.HiddenFor(m => m.roundId, new { @id = "hfdRoundNo" })

                    var hasConsent = 0;
                    try
                    {
                        //hasConsent = Model.listConsent.FirstOrDefault(x => x.roundId == 3).roundId;
                    }
                    catch (Exception)
                    {
                        hasConsent = 0;
                    }

                    if (1 > 0)
                    {
                        if (1>0)
                        {
                            using (Html.BeginForm("SaveConsentData", "ConsentUI", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="row">
                                    <div class="col-md-12" style="text-align:center;">
                                        <h3>
                                            Dear Candidate you chosen the following in the Round- 01
                                        </h3>
                                    </div>
                                </div>
                                <div class="row main" style="padding:0px 10px;">
                                    <div class="col-sm-12 form-box" style="padding:0px 20px;">
                                        <div class="main-login main-center">
                                            <form class="form-horizontal">
                                                <h3 class="heading">&nbsp;</h3>
                                                
                                                <div class="">
                                                    <label for="password" class="cols-sm-2 control-label">You are selected in</label>
                                                    <div class="cols-sm-10">
                                                        @Model.listConsent.Select(i=>i.consentType).FirstOrDefault()
                                                    </div>
                                                </div>
                                                
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                    }
                }
                else
                {
                    <div class="row">
                        <div class="col-md-12">
                            <h5>
                                You application status rejected
                            </h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>