
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Search Phone Number</title>
    <style>
        #result {
            display: none;
            font-size: 1.5rem;
            margin-top: 1rem;
        }
    </style>
</head>
<body>
    <h1>Search Phone Number</h1>
    <form>
        <label for="search-box">Search for Phone Number:</label>
        <input type="number" id="search-box" maxlength ="11 "name="search-box">
        <button type="button" onclick="searchPhoneNumber()">Search</button>
    </form>
    <div id="result" style="display:none"></div>
    <script>
        function searchPhoneNumber() {
            debugger;
          const phoneNumber = document.getElementById('search-box').value;
            getCode(phoneNumber);
        // Perform search logic here using phoneNumber variable
        // var Code CallActionGet("/Otp/GetCode?PhoneNumber=" + phoneNumber );
        //// Display result
        //const resultDiv = document.getElementById('result');
        //  resultDiv.textContent = 'Opt Code is  ' + Code + ';
        //resultDiv.style.display = 'block';
        }
        function getCode(phoneNumber) {
            debugger;
            fetch('/Otp/GetCode?PhoneNumber=' + phoneNumber)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const resultDiv = document.getElementById('result');
                    resultDiv.textContent = 'Opt Code is  ' + data + '';
                    resultDiv.style.display = 'block';
                })
                .catch(error => {
                    console.error('Error fetching verification code:', error);
                });
        }

    </script>
</body>
</html>